$main-bg: #eef6fb;
$main: #3a86ff;
$main-hover: #265ecf;


$gray-soft: #f9f9f9;
$gray-line: #dcdfe4;
$gray-text: #7a869a;
$gray-dark: #3e4c59;

$text-main: #1e1e1e;
$text-muted: $gray-text;

$accent-light: #cde3ff;
$shadow-color: rgba(0, 0, 0, 0.05);

$radius: 10px;
$transition: 0.25s ease-in-out;

