* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$main-bg: #eef6fb;
$main: #3a86ff;
$main-hover: #265ecf;


$gray-soft: #f9f9f9;
$gray-line: #dcdfe4;
$gray-text: #7a869a;
$gray-dark: #3e4c59;

$text-main: #1e1e1e;
$text-muted: $gray-text;

$accent-light: #cde3ff;
$shadow-color: rgba(0, 0, 0, 0.05);

$radius: 10px;
$transition: all 0.25s ease-in-out;

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100wv;
  height: 100vh;
}

.searchEndProfile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  max-width: 600px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  background-color: $gray-text;
  padding: 2rem 0 2rem 0;
  border-radius: $radius;
  .search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 0;
    input{
      outline: none;
      border: 2px solid $main;
      border-radius:$radius 0 0 $radius;
      padding: 8px 8px 8px 20px;
      width: 100%;
    }
    .searchButton{
      border: 2px solid $main;
      background-color:$main;
      border-radius: 0 $radius $radius 0;
      padding: 0 8px 0 8px;
      height: 100%;
      cursor: pointer;
      transition: $transition;
    }
    .searchButton:hover{
      background-color: $main-hover;
      border-color: $main-hover;
    }
  }

  .profileCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 90%;
    height: 100%;
    .tab-buttons{
      display: flex;
      flex-direction: row;
      align-items: start;
      width: 100%;
      gap: 0;
      button {
        background-color: $main;
        color: $gray-line;
        padding: 8px 16px;
        border: 2px solid $gray-dark;
        width: 20%;
        border-radius: $radius $radius 0 0;
        font-size: 14px;
        cursor: pointer;
        transition: $transition;

        &.active {
          background-color: $gray-soft;
          border: 2px solid $gray-soft;
          color: $gray-dark;
        }

        &:focus {
          outline: none;
        }
      }
    }
    .tab-content{
      position: relative;
      width: 100%;
      height: 100%;
      .profile_info{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        width: 100%;
        height: 100%;
        border-radius: 0 $radius $radius $radius;
        padding: 1.3rem;
        z-index: 100;
        transition: $transition;
        background-color: $gray-soft;
      }
      .profile_chart{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1.3rem;
        background-color: $gray-soft;
        border-radius: 0 $radius $radius $radius;
        z-index: 0;
        transition: $transition;
      }
    }
  }
}

